<p>Please check out our original and practical products</p>
<p>Dont find your product right away? Click <a href="/products/search">here</a> and search for it.</p>
<p>If you want to create a new product click <a href="/products/new">here</a></p>

<ul>
   {{#each products}}
   <li><a href="/products/{{link}}">{{name}}</a></li>
   {{/each}}
</ul>