<h1>Search Product Page</h1>

<form action="/products/search">
   <label for="product">Product Name</label>
   <input type="text" name="product" id="product" placeholder="Type your product name">
   <label for="size">Size of the Product</label>
   <input type="text" name="size" id="size">
   <button type="submit">Submit your form</button>
</form>