<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>

<body>
   <nav><a href="/">e-mazon</a>
      <div>
         <a href="/products">Products</a>
      </div>
      <div>
         <a href="/me">Assemble the Team</a>
      </div>
      <div>
         <a href="/search">Search</a>
      </div>
   </nav>
   {{{body}}}

</body>

</html>